@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@layer utilities {
  @layer responsive {
    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
      display: none;
    }
    html,
    body {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}


.bg-cover-home {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black, black, black, black, black, transparent);
}

.mask-gradient {
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black, black, black, black, black, transparent);
}